// colors
$light-black:#363636;
$basic-white: #ffffff;
$dark-green:#45852D;
$pine-green:#006F79;
$christine: #EC6608;
$light-grey:#d8d8d8;

// breakpoints
$tablet-width: 640px;
$desktop-width: 960px;

//fonts


$OpenSans: "Open Sans", "Arial", sans-serif;
