@import "../../styles/variables";

.page-header__wrapper {
  padding-top: 36px;
}

.page-header__title {
  color:$dark-green;
  margin: 0;
  margin-bottom: 43px;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
}